.form-main-grid {
  display: grid;
}

.reservation-title {
  text-align: left;
  margin-left: 0.5rem;
}

.form-second-grid {
}

.reservation-form {
  display: grid;
  grid-template-rows: 1fr;
}
.hidden-restaurant-name {
  display: none;
}
.label {
  margin-left: 0.5rem;
  width: fit-content;
}

.input {
  margin: 0.5rem;
  height: 2rem;
  border: rgb(198, 198, 198) 0.01rem solid;
  width: 100%;
}

.reservation-form input[type="text"] {
  box-sizing: border-box;
  padding-left: 0.6rem;
}

.input:focus {
  outline: #a51818;
}
.reservation-button {
  text-decoration: none;
  margin: 0.5rem;
  padding: 0.5rem;
  background: rgb(233, 23, 37);
  border-radius: 0.25rem;
  color: #fff;
  font-size: 1rem;
  border: 0.1rem solid rgb(233, 23, 37);
  cursor: pointer;
  white-space: nowrap;
  width: 5.6rem;
}

.login-btn:focus,
.login-btn:hover {
  background: white;
  color: #e2ea46;
}

.react-datepicker__input-container {
}
