.restaurants-grid {
}

.main-title {
}

.restaurant-list {
  list-style-type: none;
  padding: 0rem;
}

.single-restaurant {
  box-shadow: 0.2rem 0.2rem 0.3rem 0.2rem rgb(215, 215, 215);
  list-style-type: none;
  display: grid;
  grid-template-rows: 1fr;

  margin-bottom: 3rem;
}

.restaurant-image {
  width: 96%;
  padding: 0.8rem;
}
.restaurant-name {
  margin: 0;
  padding: 0rem 0.8rem;
}

.restaurant-description {
  padding: 0rem 0.8rem;
}

.reserve-button {
  max-width: 10rem;
  margin: 0.8rem;
  background: #6246ea;
  border-radius: 0.25rem;
  color: #fff;
  padding: 0.5rem;
  font-size: 1rem;
  border: 2px solid #6246ea;
  cursor: pointer;
  white-space: nowrap;
}

.login-btn:focus,
.login-btn:hover {
  background: white;
  color: #6246ea;
}

@media only screen and (min-width: 48rem) {
  .single-restaurant {
    grid-template-rows: none;
    grid-template-columns: 1fr 2fr;
  }
  .restaurant-name {
    margin-top: 0.5rem;
    padding: 0rem 0.8rem;
  }

  .restaurant-image {
    padding: 0.8rem;
  }
}
