.restaurants-grid {
}

.main-title {
}

.restaurant-list {
  list-style-type: none;
  padding: 0rem;
}

.single-restaurant {
  box-shadow: 0.2rem 0.2rem 0.3rem 0.2rem rgb(215, 215, 215);
  list-style-type: none;
  display: grid;

  margin-bottom: 3rem;
}
.tablet-div-1 {
  display: grid;
  grid-template-rows: 0.5fr 1fr 0.5fr;
}
.restaurant-image {
  width: 96%;
  padding: 0.8rem;
}
.restaurant-name {
  margin: 0;
  padding: 0rem 0.8rem;
}

.restaurant-description {
  padding: 0.8rem 0.8rem;
  margin-bottom: 1rem;
}

.reserve-button {
  text-decoration: none;

  margin: 0.8rem;
  padding: 0.8rem;

  background: rgb(235, 33, 46);
  border-radius: 0.25rem;
  color: #fff;

  font-size: 1rem;

  cursor: pointer;
  white-space: nowrap;
}
.reserve-button:hover {
  background: rgb(0, 0, 0);
  color: #ffffff;
}

.login-btn:focus,
.login-btn:hover {
  background: white;
  color: #e2ea46;
}

.button-mover {
  justify-content: center;
  align-content: center;
}

@media only screen and (min-width: 48rem) {
  .single-restaurant {
    grid-template-rows: none;
    grid-template-columns: 1fr 2fr;
  }
  .restaurant-name {
    margin-top: 0.5rem;
    padding: 0rem 0.8rem;
  }

  .restaurant-image {
    max-width: 100%;
    padding: 0.8rem;
  }
}
